<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>GameByGameIdServlet</servlet-name>
    <servlet-class>Servlets.GameByGameIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameByGameIdServlet</servlet-name>
    <url-pattern>/GameByGameIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GamesByUserIdServlet</servlet-name>
    <servlet-class>Servlets.GamesByUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamesByUserIdServlet</servlet-name>
    <url-pattern>/GamesByUserIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>Servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PGNServlet</servlet-name>
    <servlet-class>Servlets.PGNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGNServlet</servlet-name>
    <url-pattern>/PGNServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectColorServlet</servlet-name>
    <servlet-class>Servlets.SelectColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectColorServlet</servlet-name>
    <url-pattern>/SelectColorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GameToPGNServlet</servlet-name>
    <servlet-class>Servlets.GameToPGNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameToPGNServlet</servlet-name>
    <url-pattern>/GameToPGNServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GamesWithoutOpponentServlet</servlet-name>
    <servlet-class>Servlets.GamesWithoutOpponentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamesWithoutOpponentServlet</servlet-name>
    <url-pattern>/GamesWithoutOpponentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GameDownloadServlet</servlet-name>
    <servlet-class>Servlets.GameDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameDownloadServlet</servlet-name>
    <url-pattern>/GameDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>Servlets.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/TeamServlet</url-pattern>
  </servlet-mapping>
</web-app>