<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <servlet-name>GameByGameIdServlet</servlet-name>
    <servlet-class>Servlets.GameByGameIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameByGameIdServlet</servlet-name>
    <url-pattern>/GameByGameIdServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GamesByUserIdServlet</servlet-name>
    <servlet-class>Servlets.GamesByUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamesByUserIdServlet</servlet-name>
    <url-pattern>/GamesByUserIdServlet</url-pattern>
  </servlet-mapping>
</web-app>